// ### Primary
$main-bg : hsl(233, 47%, 7%);
$card-bg : hsl(244, 38%, 16%);
$accent  : hsl(277, 64%, 61%);
// ### Neutral
$main-heading-stats : hsl(0, 0%, 100%);
$main-para : hsla(0, 0%, 100%, 0.75);
$stats-heading : hsla(0, 0%, 100%, 0.6);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $main-bg;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    // weights: 400,700
}

.container{
    max-width: 340px;
    margin: 10vh auto 6vh auto;
    background-color: $card-bg;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    &:hover{
        box-shadow: none;

    }

    .img-holder {
          background-image: url(../images/image-header-mobile.jpg);
          width: 100%;
          height: 250px;
          background-size: cover;
          .overlay{
            background: #a657d6;
            mix-blend-mode: multiply;
            height: 250px;
          }
          
    }

    .main{

        padding: 20px;
        .main-content{
            .main-header{
                margin-top: 10px;
                color: $main-heading-stats;
                opacity: 0.9;
                #special{
                    color: $accent;
                }
            }
            p{
                margin-top: 20px;
                color: $main-para;
                opacity: 0.7;
                line-height: 25px;
            }
        }
        .main-stats{
            margin-top: 20px;
            text-transform: uppercase;
            .stats{
                margin-bottom: 15px;
                h2{
                    color: $main-heading-stats;
                    font-size: 1.4em;
                }
                p{
                    margin-top: 5px;
                    color: $stats-heading;
                    opacity: 0.6;
                }
            }
        }
    }
    
}

@media screen and (min-width: 992px) {
    .container{
        display: flex;
        max-width: 990px;
        flex-direction: row-reverse;
        margin: 20vh auto 10vh auto;

        .img-holder{

            background: url(../images/image-header-desktop.jpg) cover;
            height: 400px;
            .overlay{
                height: 400px;
            }
        }

        .main{
            padding: 50px 20px 50px 50px;
            text-align: left;
            .main-stats{
                display: flex;
                justify-content: space-between;
                max-width: 400px;
                margin-top: 60px;
            }
        }
    }
    
}

.attribution{
    margin-bottom: 30px;
    color: white;
}